<div class="container container--small">
	<div class="card-list">
		<div class="card-list__holder">
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item">
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item" data-more>
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item" data-more>
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
			<div class="card-list__item" data-more>
				<a href="#" class="card">
					<div class="card__header">
						<span>G</span>
						<span>GameFi</span>
					</div>
					<div class="card__img">
						<img src="assets/images/cards/1.jpg" alt="">
					</div>
					<div class="card__name">Cryptocurrency SCAMS: How to Avoid Being a Victim of Fraudsters</div>
					<div class="card__caption">by <b>CryptoCubes</b> 9 марта, 2023</div>
					<p class="card__text">The topic of cryptocurrency attracts the attention of a huge number of people. Many see it as a quick way…</p>
				</a>
			</div>
		</div>
		<div class="card-list__more">
			<a href="javascript: void 0;" class="btn" onClick="showMore();">LOAD MORE</a>
		</div>
	</div>
</div>

<script>
	const showMore = () => {
		document.querySelector('.card-list__holder').classList.add("active");
		document.querySelector('.card-list__more a').remove();
		return false;
	}
</script>
